<nav>
  <a routerLink="/pigeon/addPigeon">add pigeon</a>
  <a routerLink="/pigeon/pigeonsList">pigeons list</a>
  <a routerLink="/auth/login">login</a>
  <a routerLink="/auth/register">register</a>
  <a routerLink="/season/addSeason">add season</a>
  <a routerLink="/competition/create-competition">create competition</a>
  <a routerLink="/competition/assign-pigeon">assign pigeon</a>
  <a routerLink="/results/display-results">display results</a>
  <a routerLink="/results/upload-arrival-data">upload arrival data</a>
  <app-logout></app-logout>
</nav>
<router-outlet></router-outlet>